<div>
    <h1 class="pageHeading mat-display-1">Applicant Details:</h1>
    <!-- mat-dialog-title -->
    <hr>
    <mat-dialog-content>
      <!-- <div class="container"> -->
  <div class="row">
    <div class="col">
      <h3><u>Personal Details:</u></h3>
      <p><b>First Name: </b>John</p>
      <p><b>Second Name: </b>Wog</p>
      <p><b>Email Id: </b>jwog@gamil.com</p>
      <p><b>Date of Birth: </b> 09/09/1995</p>
      <p><b>Mobile Number: </b> 660-529-0608</p>
      <h3><u>Address: </u></h3>
      NWMSU,<br>
      800 University Drive,<br>
      Maryville, MO 64468
    </div>
    <div class="col">
      <h3><u>Additional Details:</u></h3>
      <p><b>Skills: </b>CERT, EMR, Firefghter,EMT-B, EMT-A </p>
      <p><b>Lisence Number: </b>1234677889dgf586 </p>
      <p><b>Limitations: </b>Deaf</p>
    </div>
  </div>
  <!-- </div> -->
    <!-- <strong>{{data}}</strong> -->
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="close()">Accept</button>
    <button mat-raised-button color="warn" (click)="clos()">Deny</button>
  </mat-dialog-actions>
  </div>
