<!-- <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)"> -->

<!-- 
        [latitude] is an agm-map object taking values of lat metioned in component.ts.
        [Zoom] is a auto zoom functionality while loading the map taking value from component.ts
        (mapClick) is a functionality that takes whenever clicked on map, this.coords object will give
         the lat and long results which we can set to lat and lng in component.ts to change runtime
         [markerDraggable] is used to drag the marker on the map.
         (dragEnd) is used to do something when the marker dragging stopped by user by calling the method 
         we might write in markerDragEnd()
         (markerClick) will do something we write when a marker is clicked.

     -->
     <agm-map [latitude]="lat" [longitude]="lng"  [zoomControl]="true">
            <!-- <agm-map [latitude]=40.349841283655195 [longitude]=-94.8827696546299  [zoomControl]="true"> -->

        <!-- <agm-marker *ngFor="let m of reports; let i=index" [latitude]="m.location.lat" [longitude]="m.location.lng">
            <agm-info-window>
                <strong>
                    <table style ="width:30%">
                        <tr>
                            <th>
                                {{m.reportID}}
                            </th>
                        </tr>
                        <tr id="black_row">
                            <td align="center">
                                {{m.casualties.deceased}}
                            </td>
                        </tr>
                        <tr id="red_row">
                            <td align="center">
                                {{m.casualties.immediate}}
                            </td>
                        </tr>
                        <tr id="yellow_row">
                            <td align="center">
                                {{m.casualties.delayed}}
                            </td>
                        </tr>
                        <tr id="green_row">
                            <td align="center">
                                {{m.casualties.minor}}
                            </td>
                        </tr>
                    </table>
                </strong>
            </agm-info-window>
    
        </agm-marker> -->
    </agm-map>