<!-- 
  Assigned to Chandra mouli
 -->
<!-- @Author Chandra Mouli Kantipudi -->

<div class="container">
  <!-- Header for the dashboard page -->
  <h1>Dashboard</h1>
  <hr>
  <div class="row">
    <div class="col">
      <!-- Create incident button provided to route to create incident page -->
      <button routerLink="/createIncident" mat-raised-button color="primary" class="buttons">Create Incident</button>
    </div>

    <div class="col text-right">
      <!-- Archived Incidents button provided to route to Archived Incidents page -->
      <button routerLink="/archivedIncidents" mat-raised-button color="primary" class="buttons">Archived Incidents</button>
    </div>
  </div>

  <br>
  <div class="row">
    <div *ngFor="let item of incidents">
      <div class="col-4 text-center">
        <!-- The incident modules are shown using cards. Card has image of incident,
        brief description and two buttons edit and archive -->
        <mat-card class="incident-card">
          <a routerLink="/dashboard">
            <!-- Image of incident -->
            <img mat-card-image src="assets/images/incidents/img.1.jpg" alt="Earthquake">
          </a>
          <mat-card-content>
            <!-- Name of incident -->
            <h2>{{ item.incidentName }}</h2>
            <p class="p-height">
              <!-- Brief description of incident -->
              {{ item.description }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <!-- Report button is provided to retrive report of the incident module-->
            <button mat-raised-button color="primary" routerLink="/#">Report</button>
            <!-- Team button is provided to view team and its members in the incident module -->
            <button mat-raised-button color="primary" routerLink="/teams">Team</button>
            <!-- Archive button is provided to archive the incident module -->
            <div class="mt-archive">
              <button mat-raised-button color="warn" routerLink="/#">Archive</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>