/* Assigned to Mouli and Kishan*/

/* cards */
.incident-card {
    /* max-width: 235px; */
    width: 235px;
    margin-top: 2em;
}
  
/* for buttons - Create incident and Archived Incidents */
.buttons {
    font-size: 1em;
    
}

mat-grid-tile {
    background: lightblue;
  }