/* Assigned to Mouli and Kishan*/
.container {
  margin-top: 1em;
}

.pageHeading {
  margin: auto;
}

/* cards */
.incident-card {
    /* max-width: 235px; */
    width: 255px;
    height: 500px;
    margin-top: 2em;
}

.mat-card-image{
    width: 255px;
    height: 165px;
}

/* for buttons - Create incident and Archived Incidents */
.buttons {
    font-size: 1em;
}

/* Describtion height */
.p-height{
    height: 6em;
}

.mt-archive{
    margin-top: 0.4em;
}

mat-grid-tile {
    background: lightblue;
  }
