<!-- <h1>
    {{incidentID}}
</h1>
<ul>
<li *ngFor="let item of reports; let i=index">
      <p onclick="">
        {{item.incidentName}}
      </p>
    </li>
  </ul> -->

  <!-- <agm-map  [latitude]=lat [longitude]=lng [zoomControl]="true">

    <agm-marker *ngFor="let m of reports; let i=index" [latitude]=m.location.lat [longitude]=m.location.lng>
        <agm-info-window>
            <strong>
                <table style="width:30%">
                    <tr>
                        <th>
                            {{m.reportID}}
                        </th>
                    </tr>
                    <tr id="black_row">
                        <td align="center">
                            {{m.casualties.black}}
                        </td>
                    </tr>
                    <tr id="red_row">
                        <td align="center">
                            {{m.casualties.red}}
                        </td>
                    </tr>
                    <tr id="yellow_row">
                        <td align="center">
                            {{m.casualties.yellow}}
                        </td>
                    </tr>
                    <tr id="green_row">
                        <td align="center">
                            {{m.casualties.green}}
                        </td>
                    </tr>
                </table>
            </strong>
        </agm-info-window>

    </agm-marker>
</agm-map> -->