.container {
  margin-top: 1em;
}

.pageHeading {
  margin: auto;
}

/* cards */
.incident-card {
    /* max-width: 235px; */
    width: 255px;
    min-height: 236px;
    max-height: 236x;
    margin-top: 2em;
}

/* for buttons - Create incident and Archived Incidents */
.buttons {
    font-size: 1em;
}

/* Describtion height */
.p-height{
    height: 6em;
}

.mt-archive{
    margin-top: 0.4em;
}

mat-grid-tile {
    background: lightblue;
  }

  
  