mat-card {
  max-width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
  margin-top: 3em;
}
.full-width-input {
  width: 100%;
}
  .logo {
    width: 30%;
    margin: 1em auto;
    text-align: center;
  }
  
  img {
    width: 30%;
  }