/* Assigned to kishan */

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 1110px;
  }

  .pageHeading {
    margin: 13px auto;
  }

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  min-width: 400px;
}

.table-header{
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.table-cell {
  font-size: 15px;
}

/* for buttons - download */
.buttons {
    font-size: 1em;
}

a {
  text-decoration: none;
}
