<!-- 
  Assigned to Chandra Mouli
 -->
 <!-- @Author Chandra Mouli Kantipudi -->
 <!-- Header for team details page -->
 <div class="container">
 <h1 class="pageHeading mat-display-1">Team1 Members</h1>
 <hr>
 
 <div class="example-container mat-elevation-z8">
 <!-- Table is provide with the team members details -->
 <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- firstName Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
  
    <!-- lastName Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
    </ng-container>
  
    <!-- County Column -->
    <ng-container matColumnDef="county">
      <th mat-header-cell *matHeaderCellDef> County </th>
      <td mat-cell *matCellDef="let element"> {{element.County}} </td>
    </ng-container>

    <!-- Skills Column -->
    <ng-container matColumnDef="skills">
        <th mat-header-cell *matHeaderCellDef> Skills </th>
        <td mat-cell *matCellDef="let element"> {{element.Skills}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
 </div>

 <br>
  Leader: Jim
  <br>
  Assistant Leader: Jules
  
  </div>