<!-- 
  Assigned to Hemanth
 -->
<div class="container">
  <!-- Header for the Create Incident page -->
  <h1>Create Incident</h1>
  <hr>
</div>

<div class="createContainer">

  <!-- Form provided to input details for incident details -->
  <form novalidate (ngSubmit)="onCreate(createInc)" #createInc="ngForm">

    <div class="form-group">
      <label for="incidentName">
        <b>Incident Name</b>
      </label>
      <!-- Input for incident name -->
      <input type="text" class="form-control" [ngModel]="incident.incidentName" name="incidentName" #incidentName="ngModel" id="inputincidentName"
        placeholder="Enter incident" required>
      <!-- 
      incident name error block 
      by Kishan
    -->
      <!-- Input validation for incident name-->
      <div *ngIf="(incidentName.invalid && ( incidentName.touched || incidentName.dirty)) || isSubmitted" class="col-sm-6 text-danger">
        <div *ngIf="incidentName.errors?.required">
          Please enter the incident Name
        </div>
      </div>

      <label for="location">
        <b>Location</b>
      </label>
      <!-- Input field for location name -->
      <input type="text" class="form-control" [ngModel]="incident.location" name="location" location #location="ngModel" id="inputlocation"
        placeholder="Enter location" required>
      <!-- 
      location error block 
      by Kishan
    -->
      <!-- Input validation for location -->
      <div *ngIf="(location.invalid && ( location.touched || location.dirty)) || isSubmitted" class="col-sm-6 text-danger">
        <div *ngIf="location.errors?.required">
          Please enter the location
        </div>
      </div>

      <!-- Select date block -->
      <label for="date">
        <b>Date</b>
      </label>
      <input type="text" class="form-control" [ngModel]="incident.date" name="date" #date="ngModel" id="inputdate" value="incident.date"
        disabled>
      <!-- 
      date error block 
      by Kishan
    -->
      <!-- Validtion for date block -->
      <!-- <div *ngIf="(date.invalid && ( date.touched || date.dirty)) || isSubmitted" class="col-sm-6 text-danger">
      <div *ngIf="date.errors?.required">
        Please enter the date
      </div>
    </div> -->

      <!-- Select time block -->
      <label for="time">
        <b>Time</b>
      </label>
      <input type="text" class="form-control" [ngModel]="incident.time" name="time" #time="ngModel" id="inputtime" value="incident.date"
        disabled>
      <!-- 
      time error block 
      by Kishan
    -->
      <!-- Validation for time block -->
      <!-- <div *ngIf="(time.invalid && ( time.touched || time.dirty)) || isSubmitted" class="col-sm-6 text-danger">
      <div *ngIf="time.errors?.required">
        Please enter the time
      </div>
    </div> -->

      <label for="description">
        <b>Description</b>
      </label>
      <!-- Input field for description name -->
      <textarea type="text" class="form-control" [ngModel]="incident.description" name="description" description #description="ngModel"
        id="inputdescription" placeholder="Enter description" required></textarea>
      <!-- 
        description error block 
        by Kishan
      -->
      <!-- Input validation for description -->
      <div *ngIf="(description.invalid && ( description.touched || description.dirty)) || isSubmitted" class="col-sm-6 text-danger">
        <div *ngIf="description.errors?.required">
          Please enter the description
        </div>
      </div>
    </div>

    <!-- Button provided to Create Incident -->
    <button class="btn primary"> Create </button>
  </form>
    <button class="btn btn-danger" routerLink="/dashboard"> Cancle </button>
</div>