.container {
  margin-top: 1em;
}

.pageHeading {
  margin: auto;
}

.createContainer {
    padding-left: 30em;
    padding-right: 29em;
}

/* .primary{
    background: #673ab7;
    color: white;
    font-size: 1em;
} */

.button-row button {
  margin-right: 8px;
}

