<!--
  Assigned to Chandra mouli
 -->
<!-- @Author Chandra Mouli Kantipudi -->
<!-- Page not yet completed -->
<div class="container">
  <!-- Header for the page -->
  <h1>Create Team</h1>
  <hr>

  <!-- Form to input the team details -->
  <form novalidate (ngSubmit)="onCreate(createTeam)" #createTeam="ngForm">

    <div class="form-group">
      <!-- <label for="team">
          <b>Team Name</b>
        </label> -->
      <!--Input for team name -->
      <!-- <input type="text" class="form-control" [ngModel]="team.teamname" name="team name" teamname #teamname="ngModel" id="inputteamname"
          placeholder="Enter Team Name" required>
        <br> -->

      <!-- TeamID should autogenerate -->
      <label for="teamID">
        <b>Team ID :</b>
      </label>
      {{a}}
    </div>

    <!-- Table -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- First Name Column
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"> First Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.firstName }} </mat-cell>
      </ng-container> -->

      <!-- First Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <!-- Last Name Column-->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
        <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
      </ng-container>

      <ng-container matColumnDef="county">
        <th mat-header-cell *matHeaderCellDef> County </th>
        <td mat-cell *matCellDef="let element"> {{element.county}} </td>
      </ng-container>

      <ng-container matColumnDef="skills">
        <th mat-header-cell *matHeaderCellDef> Skills </th>
        <td mat-cell *matCellDef="let element"> {{element.skills}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
    </table>
    <br>

    <mat-form-field>
      <mat-select placeholder="Select Leader" [(value)]="leader" id="leader" name="leader">
        <mat-option *ngFor="let leader of selection.selected" [value]="leader.firstName + leader.lastName">
          {{leader.firstName}} {{leader.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p>Leader: {{leader}} </p>

    <mat-form-field>
      <mat-select placeholder="Select Assistant Leader" [(value)]="asstLeader">
        <mat-option *ngFor="let asstLeader of selection.selected" [value]="asstLeader.firstName + asstLeader.lastName">
          {{asstLeader.firstName}} {{asstLeader.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p>Assistant Leader: {{asstLeader}} </p>
    <br>

    <!-- Button provided to create team -->
    <!-- <button class="btn primary"> Create Team</button> -->
    <div class="button-row">
       <!-- <button  mat-raised-button color = "primary" (click)="dialogue()">Create Team</button> -->
      <button mat-raised-button color="primary" (click)="dialogue()"> Create </button>
      <button mat-raised-button color="warn" routerLink="/teams"> Cancel </button>
    </div>

  </form>
</div>