.primary{
  background: #673ab7;
  color: white;
  font-size: 1em;
}

.container {
  margin-top: 1em;
}

.pageHeading {
  margin: auto;
}

table {
  width: 100%;
}
.button-row button {
  margin-right: 8px;
}

.mat-header-cell {
  padding: 12px;
  text-align: center;
}

.mat-cell {
  padding: 12px;
  text-align: center;
}